#nav{
	height: 150px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}

li{
	display: inline;

}

a{
	color: #404040;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	//width: 45px;
}

a:hover {
	text-decoration: underline;
}

#signin{
	//color: white;
	//background-color: #4387fd;
	display: inline;
}

#signin a{
	color: white;
	background-color: #4387fd;
	//display: inline;
}

#signin a:hover {
	text-decoration: none;
}



#nav ul, #r_footer ul {float: right;}
#l_footer{float: left;}

form{
	text-align: center;
	height: 60%;
}

form input:hover{
	border-color: #aaa;
}

form input:select{
	border-color: #4387fd;
}

img{
	display: block;
	margin: auto;
}

#keyword{
	width: 541px;
	height: 27px;
	display: block;
	margin: 10px auto;
}

#defaultsearch{
	width: 98px;
	height: 29px;
	display: inline-block;
}

#luckysearch{
	width: 114px;
	height: 29px;
	display: inline-block;
}

